@font-face{
    font-family:'Inter-Medium';
    src: url("../Inter-Medium.ttf");
}

#popup-container {
    font-family: "Inter-Medium";
    color: white;
    text-align: center;
}

body {
    background-color: #1e1e1e;
}

#icon {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

#blocked-text {
    font-size: 75px;
}