@font-face{
    font-family:'Inter-Bold';
    src: url("../Inter-Bold.ttf");
}

#popup-container {
    font-family: "Inter-Bold";
    color: white;
    text-align: center;
}

body {
    background-color: #1e1e1e;
}

#icon {
    width: 35vh;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18vh;
}

#blocked-text {
    font-size: 6vh;
}

#quote {
    font-size: 3vh;
}