@font-face{
    font-family:'Inter-Bold';
    src: url("../Inter-Bold.ttf");
}

* {
    font-family: "Inter-Bold";
    color: white;
    font-weight: bold;
}

body {
    background-color: #1e1e1e;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 3vh;
}

h2 {
    text-align: center;
    font-size: 2vh;
    margin-bottom: 0;
    margin-top: 2vh;
}

p {
    text-align: center;
    font-size: 1.1vh;
}

form {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    background-color: #303030;
    color: white;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1vh;
    box-sizing: border-box;
    outline: none;
    border: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #303030;
    color: white;
    cursor: pointer;
    font-size: 1.5vh;
}

label {
    display: block;
    margin: 20px 0 8px;
    font-weight: bold;
    font-size: 1.2vh;
}

#blocked-sites {
    background: #242424;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#url-input {
    padding-left: 15px;
    font-size: 1.25vh;
}

.blocked-site {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid white;
    align-items: center;
}

.blocked-site span {
    font-size: 1.5vh;
    word-break: break-all;
    flex: 1;
}

.blocked-site button {
    font-size: 1vh;
    background-color: #303030;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    padding-bottom: 1px;
}


/* timings part */
#timings {
    text-align: center;
}

#timings-info {
    margin-top: -1vh;
    /* margin-bottom: -0.5vh; */
    font-size: 1.5vh;
}

#timings-title {
    margin-top: 4vh;
}

.timing-customization {
    background-color: #303030;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 3vh;
    width: 3vw;
    text-align: center;
}

.time-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.timing-customization-label {
    font-size: 1.5vh;
}

/* blocking part */
.blocking {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    justify-content: center; /* Center horizontally */
    color: white; /* White text color for contrast */
    margin-top: -1vh;
}

#block-switch-label {
    margin-right: 0.5vw;
    font-size: 1.5vh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #303030; /* Darker background for the slider */
    transition: .4s;
    border-radius: 24px; /* Rounded slider */
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%; /* Rounded knob */
}

input:checked + .slider {
    background-color: #4CAF50; /* Color when checked */
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.tooltip-icon {
    background-color: #303030;
    border-radius: 50%;
    color: white;
    display: inline-block;
    height: 16px;
    width: 16px;
    text-align: center;
    cursor: pointer;
    margin-right: 0.5vh;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #303030;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the icon */
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #303030 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.toggle {
    display: inline-block;
}