body {
  background-color: #1e1e1e;
}

#popup-container {
  font-family: "Arial";
  font-weight: bold;
  color: white;
  height: 350px;
  width: 250px;
  position: relative;
}

#timer {
  font-size: 15vh;
  text-align: center;
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  margin-bottom: 2vh;
  margin-top: 4vh;
}

.status {
  min-width: 250px;
  max-height: 5vh;
  font-size: 4.5vh;
  text-align: center;
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  margin-bottom: 4vh;
}

#block-status {
  margin-bottom: 6vh;
}

#go-to-options {
  position: absolute;
  background-color: #303030;
  border-radius: 7px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute; /* Added for absolute positioning */
  top: -5px; /* Adjust this value as needed */
  z-index: 10; /* Ensure it stays on top */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  width: 100%;
}

.control-button {
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 5vh;
  background-color: #303030;
  color: white;
  border: none;
  width: 80vw;
  height: 12vh;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.control-button:hover {
  transform: scale(1.1);
}

.control-button:disabled {
  opacity: 75%;
  cursor: not-allowed;
}

.control-button:disabled:hover {
  transform: none;
}